{{ define "main" }}
    <main>
        <section>
            <header class="homepage-header">
                <h1>{{ .Title }}</h1>
            </header>
            <div class="homepage-content">
                {{ .Content }}

                <ul>
                    {{ $pages := .Pages }}
                    {{ if len $pages | lt 0 }}
                    {{ range (where $pages "Section" "!=" "") }}
                    <li>
                        <span class="date">{{ .Date.Format "2006/01/02" }}</span>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                    {{ else }}
                    <li><i>No blog entries yet.</i></li>
                    {{ end }}
                </ul>
            </div>
        </section>
    </main>
{{ end }}