<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ .Params.Description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
        mermaid.initialize({
            startOnLoad: true,
            securityLevel: 'loose',
            theme: 'base',
            themeVariables: {
                primaryColor: '#ffffff',
                primaryBorderColor: '#000000',
                backgroundColor: '#000000'
            }
        });
    </script>
</head>